<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyjob.jobfolio.repository.pay.PayMapper">

	<!-- 결제 DB 초기 저장 -->
	<insert id="insertOrder" parameterType="map">
		INSERT INTO 	tb_payment_his
				(
						order_Id
				,		product_no
				,		order_name
				,		amount
				,		user_no
				,		pay_status
				,		paid_date
				) VALUES (
						#{orderId}
				 ,		#{product_no}
				 ,		#{order_name}
				 ,		#{amount}
				 ,		#{user_no}
				 ,		'1'
				 ,		NOW()
				 )
	</insert>

	<!-- 결제 승인 후 업데이트 -->
	<update id="cardSuccess" parameterType="com.happyjob.jobfolio.vo.pay.PayModel">
		UPDATE 		tb_payment_his
		SET 		payment_key		 = 	#{paymentKey}
			  ,		pay_status 		 = 	'2'
			  ,  	paid_date 	     =  NOW()
		WHERE 		order_Id	 	 =  #{orderId}
	</update>

	<select id="selectProductNoByOrderId" resultType="int">
		SELECT 		product_no
		FROM 		tb_payment_his
		WHERE 		order_id = #{orderId}
	</select>

	<select id="selectSubPeriodByProductNo" resultType="int">
		SELECT 		sub_period
		FROM 		tb_product_info
		WHERE 		product_no = #{productNo}
	</select>

	<select id="selectUserNoByOrderId" resultType="int">
		SELECT 		user_no
		FROM 		tb_payment_his
		WHERE 		order_id = #{orderId}
	</select>

	<select id="selectExpireDateByUserNo" resultType="java.sql.Timestamp">
		SELECT expire_days
		FROM tb_userinfo
		WHERE user_no = #{userNo}
	</select>

	<update id="updateExpireDate">
		UPDATE tb_userinfo
		SET expire_days = #{newExpireDate}
		WHERE user_no = #{userNo}
	</update>

</mapper>