.interview {
    margin-top: 100px;
}

.interview-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.interview-banner h1 {
    position: absolute;
    top: 120px;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 900;
}
.interview-banner .interview-description {
    position: absolute;
    top: 200px;
    left: 13%;
    color: #ffffff;
    transform: translate(-50%, -50%);
}
.interview-banner .interview-description p {
    margin: 0;
}

.interview .interview-wrapper {    
    display: flex;    
    position: relative;
    justify-content: center;
}
.interview .interview-wrapper .interview-container {    
    display: flex;    
    width: 70%;
}

.interview .interview-container-left {
    flex-shrink: 0;
}
.interview .interview-container-right {
    padding-top: 10px;
    flex-shrink: 0;
}

.interview .interview-container-left .interview-container-left-content {    
    margin: 20px;
    min-height: 450px;
    border-radius: 10px;
}
.interview .interview-container-left .interview-container-left-content h1{    
    font-size: 1.5rem;
    font-weight: 700;
}
.interview .interview-container-left .interview-container-left-content .customInput{    
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
}
.interview .interview-container-left .interview-container-left-content .customInput input[type=text].input {
    padding: 11px 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
}
.interview .interview-container-right div.interview-gpt-title {
    margin-left: 25px;
}
.interview .interview-container-left .interview-container-left-content .customInput label.text, 
.interview .interview-container-right .interview-gpt-title {
    font-size: 1.25rem;
    color: #818CF8;
    font-weight: 700;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: rgb(253, 250, 250);
    width: fit-content;
}
.interview .interview-container-left .interview-container-left-content textarea{    
    height: 300px;
    width: 620px;
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
}
.interview .interview-container-left .interview-container-left-content > div{    
    display: flex;
    justify-content: center;
}
.interview .interview-container-right .interview-container-right-content {
    margin: 20px;
    margin-top: 5px;
    min-height: 600px;
    width: 620px;
    border: 2px solid #818CF8;
    border-radius: 10px;
}
.interview .interview-container-right .interview-container-right-content .interview-gpt-practice ul {
    list-style-type: none;
    padding: 20px;
    padding-top: 0;
}
.interview .interview-container-right .interview-container-right-content .interview-gpt-practice ul li{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

/* 버튼 */
.interview-button .interview-make-button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.interview-button .interview-make-button .interview-button-arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interview-button .interview-make-button .interview-button-arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.interview-button .interview-make-button .interview-button-arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.interview-button .interview-make-button:hover {
  background-color: var(--hover-color);
}

.interview-button .interview-make-button:hover .interview-button-arrow {
  background: var(--secondary-color);
}

.interview-button .interview-make-button:hover .interview-button-arrow:before {
  right: 0;
}