<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyjob.jobfolio.repository.notice.BoardInfoRepository">
	
   	<!-- 이용안내 목록 조회 -->
	<select id = "selectByBoardType" parameterType="String" resultType = "com.happyjob.jobfolio.vo.notice.BoardInfoVo">
        
		SELECT
			board_no AS id,
			title AS question,
			content AS answer,
			write_date AS createdAt,
			author AS writer,
			priority
		FROM tb_board
		WHERE board_type = #{board_type}
		ORDER BY priority DESC
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.happyjob.jobfolio.vo.notice.BoardInfoVo"> 
		SELECT
			board_no AS id,
			board_type,
			title AS question,
			content AS answer,
			write_date AS createdAt,
			author AS writer,
			priority
		FROM tb_board
		WHERE board_no = #{id}
	</select>
	
	<!-- 이용안내 등록 -->
	<insert id="insertBoardInfo" parameterType="com.happyjob.jobfolio.vo.notice.BoardInfoVo">
		
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(board_no), 0) + 1 FROM tb_board
		</selectKey>
		
		INSERT INTO tb_board (
			board_no,
			board_type,
            title,
            content,
            write_date,
            author,
            priority
            
		) VALUES (
			#{id},
			#{board_type},
			#{question},
			#{answer},
			now(),
			1,
			#{priority}
		)
	</insert>
	
	<!-- Java에서 호출해서 priority값을 구하는 쿼리 -->
	<select id="getNextPriority" resultType="int">
		SELECT IFNULL(MAX(priority), 0) + 1 
		FROM tb_board
		WHERE board_type = #{board_type}
	</select>
	
	<select id="getNextBoardNo" parameterType="String" resultType="int">
		SELECT IFNULL(MAX(board_no), 0) + 1
		FROM tb_board
		WHERE board_type = #{board_type}
	</select>
	
	<update id="shiftPriorityAfterDelete" parameterType="map">
		UPDATE tb_board
		SET priority = priority -1
		WHERE board_type = #{board_type}
			AND priority > #{priority}
	</update>
	
	<!-- 선택사항 삭제 -->
	<delete id="deleteBoardInfo" parameterType="java.util.List">
		DELETE FROM tb_board
		WHERE board_no IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="deleteBoardInfoById" parameterType="int"> 
		DELETE FROM tb_board
		WHERE board_no = #{id}
	</delete>
	
	<update id="updateBoardInfo" parameterType="com.happyjob.jobfolio.vo.notice.BoardInfoVo">
		UPDATE tb_board
		SET title = #{question},
		 	content = #{answer},
		 	write_date = NOW()
	 	WHERE board_no = #{id}
	</update>
	
	<update id="shiftPriorities" parameterType="map">
		UPDATE tb_board
		SET priority = priority + 1
		WHERE board_type = #{board_type}
			AND board_no != #{id}
			AND priority >= #{newpriority}
	</update>
	
	<update id="updateOwnPriority" parameterType="map"> 
		UPDATE tb_board
		SET priority = #{priority}
		WHERE board_no = #{id}
	</update>
	
</mapper>