<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyjob.jobfolio.repository.notice.BoardInfoRepository">
	
   	<!-- 공지사항 목록 조회 -->
	<select id = "selectByBoardType" parameterType="String" resultType = "com.happyjob.jobfolio.vo.notice.BoardInfoVo">
        
		SELECT
			board_no AS id,
			title AS question,
			content AS answer,
			write_date AS createdAt,
			author AS writer,
			priority
		FROM tb_board
		WHERE board_type = #{boardTypeCd}
		ORDER BY priority DESC
	</select>
	
		
	
</mapper>