.sideBarMenu {
    width: 300px;
}

.sideBarMenuList {
  width: 200px;
  list-style-type: none;
}
.sideBarMenuList .userInfo{
  font-size: 32px;
}
.sideBarMenuList li{
  margin: 5px;
}
.sideBarMenuList li:hover{
  margin: 5px;
  background: linear-gradient(90deg, rgb(118, 204, 255), rgb(47, 130, 255));
  border-radius: 10px;
}
.sideBarMenuList li a{
  padding: 15px;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: left;
  color: black;
}
.sideBarMenuList li a:hover{
  width: 100%;
  text-decoration: none;
  color: white;
}

.sideBarMenuList li .list-active{
  background: linear-gradient(90deg, rgb(118, 204, 255), rgb(47, 130, 255));
  border-radius: 10px;
  color: white;
}