.faqManagement {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* 타이틀 박스 */
.faq-section-title-box {
  background-color: #ffffff;
  padding: 16px 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}

/* 본문 콘텐츠 */
.faqManagement .faq-content {
  flex: 1;
  padding: 40px;
  background-color: #f5f5f5;
}

.faqManagement .faq-section-content-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-top: 16px;
}

/* 상단 타이틀 */
.faqManagement .faq-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* 안내 제목 및 경고 메시지 */
.faq-header h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-warning {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* 버튼 영역 */
.faq-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.faq-controls button {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.faq-controls button:hover {
  border-color: #222;
}

/* title */
.faqManagement .faq-title {
  cursor: pointer;
  font-size : 14px;
}

.faqManagement .faq-title:hover {
  color: #084298;
  text-decoration: underline;
}

/* 테이블 */
.faq-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 14px;
}

.faq-table th,
.faq-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.faq-table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.faq-table td:first-child input[type='checkbox'] {
  transform: scale(1.2);
}

/* input-priority */
.faqManagement .input-priority {
  width: 50px;
  border: none;
  text-align: center;
}

/* 페이징 영역 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
}

.pagination button,
.pagination span {
  background: none;
  border: none;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  color: #333;
}

.pagination button.active {
  font-weight: bold;
  color: #fff;
  background-color: #444;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.menu-item-content {
  display: flex;
  align-items: center;
  gap: 6px; /* 아이콘과 글자 간격 */
  font-size: 14px;
}

.menu-icon {
  font-size: 16px; /* 아이콘 작게 */
}

.input-status-select {
  height: 36px;     /* 드롭다운 높이 줄임 */
  min-width: 120px; /* 넉넉한 가로 너비 */
  font-size: 14px;
  padding: 4px 8px;
}

