.infoManagement{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* 타이틀 박스 */
.info-section-title-box {
  background-color: #ffffff;
  padding: 16px 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}

/* 본문 콘텐츠 배경 */
.info-section-content-box {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* 본문 콘텐츠 */
.infoManagement .info-content {
  flex: 1;
  padding: 40px;
  background-color: #f5f5f5;
}

/* 상단 타이틀 */
.infoManagement .info-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* 안내 제목 및 경고 메시지 */
.info-header h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-warning {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* 버튼 영역 */
.info-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.info-controls button {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.info-controls button:hover {
  border-color: #222;
}

/* title */
.infoManagement .info-title {
    cursor: pointer;
}

.infoManagement .info-title:hover {
  color: #084298;            /* 진한 블루로 전환 */
  text-decoration: underline;
}

/* 테이블 */
.info-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 14px;
}

.info-table th,
.info-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.info-table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.info-table td:first-child input[type='checkbox'] {
  transform: scale(1.2);
}
/* input-priority */
.infoManagement .input-priority{
    width: 20px;
    border: none;
    text-align: center;
}

/* 페이징 영역 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
}

.pagination button,
.pagination span {
  background: none;
  border: none;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  color: #333;
}

.pagination button.active {
  font-weight: bold;
  color: #fff;
  background-color: #444;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}