.resumeManagement{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.resumeManagement .resume-template-wrapper {
  min-width: 900px;
  padding: 20px 80px;
}

.resumeManagement .resume-template-wrapper h2 {
  margin-left: 100px;
}

.resumeManagement .resume-template-grid{
  display: flex;
  flex-wrap: wrap;       /* 넘칠 경우 줄바꿈 */
  gap: 20px;             /* 카드 간 간격 */
  justify-content: center; /* 왼쪽부터 정렬 */
  padding: 20px 0;
}

.resumeManagement .resume-card-wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.resumeManagement .resume-card-wrapper:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resumeManagement .template-slide {
  position : relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.resumeManagement .resume-select-checkbox {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
  transform: scale(1.2);
}

/* info 박스 스타일 */
.resumeManagement .resume-info-box {
  background-color: #f9f9f9;
  padding: 16px;
  font-size: 0.9rem;
  /* border: 1px solid #ccc; */
  color: #333;
  line-height: 1.6;
  /* border-radius: 6px; */
}

.resumeManagement .info-content {
    flex: 1 1;
    padding: 40px;
    background-color: #f5f5f5;
}

.resumeManagement .resume-template-preview-image {
  width: 100%;
  height: 100%;
  border: none;
}

.resumeManagement .community-notice-pagination {
  margin-bottom: 100px;
  border-top: none;
}

.resumeManagement .resume-info-box p {
  margin: 4px 0;
  word-break: break-all;
}

.resumeManagement .resume-info-box strong {
  color: #555;
  font-weight: 600;
  margin-right: 4px;
}

.resumeManagement .search-select,
.resumeManagement .search-input {
  padding: 6px 10px;
}