.info-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info-banner h1 {
  position: absolute;
  top: 120px;
  left: 10%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
}

/* FAQ 전체 리스트 영역 */
.info-list {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
  list-style: none;
}

/* 각 항목 */
.info-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

/* 질문 항목 */
.info-item .question-info {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;              /* 💡 수평 정렬 + 세로 정렬 둘 다 */
  align-items: center;        /* 💡 세로 가운데 정렬 */
  justify-content: space-between;
}

.question-left{
  display: flex;
  align-items: center;
  
}

.info-Q {
  font-size : 22px;
  font-weight: bold;
  color: #86e3ff;
  margin-right: 15px; /* 여기 간격 늘리기 */
}

.info-question {
  font-weight: 500;
  color: #6d6d6d;  /* ← 기본 글자색 */
  font-size: 1rem;
  transition : color 0.3s ease;
}

/* 선택된 항목 - 진하게 */
.info-question.active {
  color: #000000;
  font-weight: bold;
}

/* 선택 안 된 항목 - 연하게 */
.info-question.inactive {
  color: #bbb;
  font-weight: normal;
}

.info-item .question-info .info-Q:hover {
  color: #64d9fd;
}

.info-item .question-info .info-question:hover {
  color: #000000;
}

/* 펼쳐진 상태일 때 색상 유지 */
.info-item.open .info-Q {
  color: #2ac3f1;
}

/* 아이콘 공통 스타일 */
.iconA-wrapper {
  width: 28px;
  height: 28px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconA {
  font-size: 20px;
  color: black;
}

/* 아이콘 회전도 유지하고 싶다면 추가 */
.info-item.open .iconA {
  transform: rotate(180deg);
}

/* 답변 영역 */
.info-list .info-item .answer{
  background-color : #f0f3ff;
  padding: 16px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
  white-space: pre-line;
  box-sizing: border-box;
  transition: all 0.3s ease;
  opacity: 1;
}
