.notice-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.notice-banner h1 {
  position: absolute;
  top: 120px;
  left: 10%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
}

.community-notice-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.community-notice-container
 .community-notice-wrapper{
  width: 1000px;  

}
.community-notice-content ul{
  list-style-type: none;
}

.community-notice-top ul {
  list-style-type: none;
  display: flex;
}

.community-notice-container
 .community-notice-wrapper
 .community-notice-category {
  display: flex;
  justify-content: space-between;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-tap ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-tap ul li a{
  padding: 15px;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-search {
  display: flex;
  align-items: center;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-search
 .community-notice-search-container{
  display: flex;
  align-items: center;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-search
 .community-notice-search-container 
 input {
  flex: 1;
  height: 30px;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-category
 .community-notice-search
 .community-notice-search-container 
 input:focus {
  opacity: 1;
}
.community-notice-search-btn {
  height: 30px;
  margin-left: 8px;
  padding: 0px 10px;
  display: flex;
  align-items: center;  
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}
.community-notice-search-btn:hover {
  background-color: #333;
  color: white;
}
.community-notice-search-icon {
  margin-right: 5px;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-section
 .community-notice-head {
  display: flex;
  width: 1000px;
  padding: 16px 0 16px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.community-notice-container
 .community-notice-wrapper  
 .community-notice-section
 .community-notice-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-section
 .community-notice-body
 ul
 li
 a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%; 
  border-bottom: 1px solid rgb(230, 230, 230);
}
.community-notice-container
 .community-notice-wrapper
 .community-notice-section
 .community-notice-head
 .notice-head-col{
 text-align: center; 
}
.community-notice-container 
  .community-notice-wrapper 
  .community-notice-section 
  .community-notice-body 
  .notice-body-col {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0 8px;
  font-size: 14px;
}
.community-notice-container 
  .community-notice-wrapper 
  .community-notice-section 
  .community-notice-body 
  .title {
    box-sizing: border-box;
    padding-left: 100px; 
}
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-head .num,
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-body .num{
  width: 10%;
  justify-content: center;
  text-align: center;
}
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-head .title,
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-body .title{
  width: 70%;
}
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-head .write,
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-body .write{
  width: 10%;
  justify-content: center;
  text-align: center;
}
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-head .author,
.community-notice-container .community-notice-wrapper .community-notice-section .community-notice-body .author{
  width: 10%;
  justify-content: center;
  text-align: center;
}
.community-notice-pagination {
  border-top: 2px solid black;
}
